section {
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
}

/* Navbar */
.bg-white {
  background-color: white;
  transition: background-color 0.3s, color 0.3s;
}

.bg-white .nav-link:hover {
  color: gray;
}

.bg-inverse {
  background-color: black;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}

.bg-inverse .nav-link:hover {
  color: gray;
}

.navbar-nav .nav-link {
  color: black;
  transition: color 0.3s;
}

.bg-inverse .nav-link {
  color: white;
}


/* Hero */
#home {
  padding-top: 300px;
  padding-bottom: 300px;
  text-align: center;
  animation: fade-down 1s;
}

/* Project */
#project{
    text-align: center;
    padding-bottom: 50px;
}

/* About */
#about{
    text-align: center;
    padding-bottom: 35px;
}

.text-wrapper{
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
    text-align: justify;
    border-radius: 8px;
}

/* Contacts */
#contacts{
    text-align: center;
}

.social-icons {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.social-icons a {
    text-decoration: none;
}

.social-icons svg {
    width: 70px;
    height: 70px;
}

/* Animation */
@keyframes fade-down {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-left {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-right {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
