section {
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
}

#home {
  padding-top: 300px;
  padding-bottom: 300px;
  text-align: center;
  animation: fade-down 1s;
}

@keyframes fade-down {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-left {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-right {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
